@import "smart-grid.less";
@import "variables.less";

/* Global */

.reset();

.wrapper {
   .wrapper();
}

body {
   .open();
   color: @primary;
}

.devider {
	height: 1px;
	background: #e6e6e6;
}

/* Header */

.header {
   background: url(../img/bg.jpg) top no-repeat;

   &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 70px;
      text-align:center;
   }

   &__title {
      .bebas();
      .sm(font-size, 30px);
      font-size: 60px;
      margin-top: 32%;
      letter-spacing: 5.7px;
      color: @white;
   }

   &__subtitle {
      font-weight: 600;
      color: @white;
   }

   &__scroll {
      margin-top: 23%;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 3.7px;
      text-transform: uppercase;
      color: @white;
   }
}

/* Navigation */

.navigation {
   
   &__inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 24px 0;
   }

   &__menu {
      .xs(margin, 0 auto);
   }

   &__logo {
      .xs(width, 100%);
      text-align: center;
   }

   &__item {
      .xs-block({
         display: block;
         text-align: center;
         margin-top: 15px;
      });
      display: inline-block;
      margin: 0 15px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 1px;
   }

   &__link {
      color: @primary;
      text-decoration: none;
      
      &:hover {
         color: @accent;
      }
   }
}

/* Story */

.story {

   &__title {
      text-align: center;
      margin-top: 6%;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;

      &::after {
         content: "";
         width: 50px;
         height: 2px;
         background: @accent;
         display: block;
         margin: 10px auto 0;
      }
   }

   &__inner {
      .row-flex();
      justify-content: center;
      margin-top: 5%;
   }

   &__founded {
      .col();
      .size(5);
      .size-sm(10);
      margin-right: auto;

   }

   &__img {
      .col();
      .size(2);
      .size-sm(4);
      .size-xs(6);
      align-self: flex-end;
      padding-top: 15px;
      display: block;
   }
}

.founded {

   &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;

      &_blue {
         color: @accent;
      }
   }

   &__text {
      font-size: 13px;
      line-height: 23px;
      margin-top: 30px;
   }
}

/* Capabilities */

.capabilities {
   
   &__inner {
      .row-flex();
      margin-top: 13%;
      justify-content: space-between;
   }

   &__title {
      .col();
      width: 200px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;

      &::after {
         content: "";
         width: 50px;
         height: 2px;
         background: #00a4e5;
         display: block;
         margin-top: 10px;
      }
   }

   &__text {
      .col();
      .sm(width, 70%);
      .sm(margin-top, 20px);
      width: 50%;
      font-size: 11px;
      line-height: 19px;
      letter-spacing: 0.2px;
   }

   &__btn {
      .col();
      .sm(margin-top, 20px);
      display: block;
      width: 150px;
      height: 40px;
      background: #00a4e5;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      letter-spacing: .5px;
      outline: 0;
      cursor: pointer;
      border: none;
   }

   &__row {
      .row-flex();
      margin-top: 8%;
   }
}

.service {
   .col();
   .size(4);
   .size-md(6);
   .size-xs(8);
   border: 1px solid #e6e6e6;
	padding: 32px 29px;
   margin: @offset_one_side auto;
   
   &__title {
      .xs(font-size, 13px);
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.34px;
      text-transform: uppercase;
      margin-top: 25px;
   }

   &__text {
      font-size: 13px;
      line-height: 23px;
      letter-spacing: 0.2px;
      margin-top: 13px;
   }
}

/* Touch */

.touch {
   background: url(../img/touch_bg.jpg) center no-repeat;
   min-height: 495px;
   
   &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.15px;
      text-align: center;
      max-width: 350px;
      margin: 21% auto 0;
   }

   &__btn {
      display: block;
      width: 150px;
      height: 40px;
      background: @accent;
      color: @white;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      letter-spacing: 0.5px;
      outline: 0;
      cursor: pointer;
      border: none;
      margin: 4% auto 0;
   }
}

/* Signup */

.signup {
   background: #171819;
   padding: 35px 0;
   
   &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
   }

   &__title {
      .sm-block({
         width: 100%;
         text-align: center;
         margin: 20px 0;
      });
      color: @white;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 0.85px;
   }

   &__form {
      .xs(text-align, center);
      font-size: 14px;
   }

   &__btn {
      .sm-block({
         bottom: 0;
		   right: 4px;
      });
      .xs-block({
         position: static;
		   width: 266px;
      });
      width: 150px;
      height: 40px;
      background: @accent;
      color: @white;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      letter-spacing: 0.5px;
      outline: 0;
      cursor: pointer;
      border: none;
      position: relative;
      bottom: 1px;
      right: 4px;
   }

   &__email {
      width: 250px;
      height: 40px;
      border: none;
      padding-left: 16px;
   }
}

/* Footer */

.footer {
   background: #141a20;
   padding-top: 40px;
   
   &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 40px;
   }
}

.company {
   .xs-block({
      max-width: 100%;
		margin-bottom: 30px;
   });
   max-width: 250px;
   color: @white;
   
   &__title {
      font-size: 11px;
      letter-spacing: 0.85px;
      text-transform: uppercase;
   }

   &__logo {
      margin-top: 19px;
   }

   &__text {
      margin-top: 15px;
      font-size: 11px;
      line-height: 19px;
      letter-spacing: 0.85px;
   }
}

.links {

   &__title {
      font-size: 11px;
      letter-spacing: .85px;
      text-transform: uppercase;
      color: @white;

      &_hidden {
         opacity: 0;
      }
   }

   &__list {
      margin-top: 19px;
   }

   &__item {
      font-weight: 600;
      font-size: 11px;
      line-height: 25px;
      letter-spacing: 0.85px;
      text-transform: uppercase;
      margin-right: 20px;
   }

   &__link {
      color: @white;
	   text-decoration: none;
   }
}

.contact {
	max-width: 140px;
   color: @white;
   
   &__title {
      font-size: 11px;
      letter-spacing: 0.85px;
      text-transform: uppercase;
   }

   &__address {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.85px;
      margin-top: 19px;
   }

   &__mail,
   &__phone {
      color: #fff;
	   text-decoration: none;
   }
}

.social {
   width: 100px;
   
   &__links {
      margin-top: 9px;
      display: flex;
      justify-content: space-around;
   }

   &__title_hidden {
      opacity: 0;
   }
}

.copyright {
   background: #171819;
   
   &__text {
      font-size: 11px;
      letter-spacing: 0.85px;
      line-height: 60px;
      text-align: center;
      color: @white;
   }
}